<p-fieldset [legend]="pageTitle">
    <div class="ui-g">
        <div class="ui-g-12">
            <label>Nome do item</label>
            <input [(ngModel)]="item.nome" pInputText>
        </div>
        <div class="ui-g-12">
            <label>Unidade de medida</label>
            <p-dropdown [options]="unidadeMedida" [(ngModel)]="item.unidadeMed"></p-dropdown>
        </div>
        <div class="ui-g-12">
            <label>Quantidade</label>
            <input id="quantidade" [(ngModel)]="item.quantidade" pInputText> 
        </div>
        <div class="ui-g-12">
            <label>Preço</label>
            <input id="preco" [(ngModel)]="item.preco" pInputText> 
        </div>
        <div class="ui-g-12">
            <p-checkbox name="perecivel" [(ngModel)]="item.prodPerecivel" binary="true" label="Produto perecível"></p-checkbox>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
              <label>Data de fabricação</label>
              <p-calendar [(ngModel)]="item.dataFabricacao"></p-calendar>
            </div>
            <div class="ui-g-6">
                <label>Data de validade</label>
                <p-calendar [(ngModel)]="item.dataValidade"></p-calendar>
            </div>
        </div>
    </div>   
</p-fieldset>

